.button{
  color: white;
  border-style: none;
  font-weight: bold;
  text-decoration: underline;
  background-color:transparent;
}

td, th, a{
color: white;
}


.table {
  background: rgba(0, 0, 0, 0.242);
}




